.main-container {
    min-width: 78vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-actividades {
        width: 54vw;
        height: 20vw;
        position: absolute;
    }
    .container-clases {
        width: 54vw;
        height: 20vw;
        position: absolute;
        }
    }


