@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;700&family=Quicksand:wght@300;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    color: white;
    font-family: Montserrat, sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

textarea
{
    background: black;
}

input
{
    background: black;
}

.widthAuto
{
    width: auto !important;
}

.form-floating input {
    color: white;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 8px;

}
.form-floating input:focus {
    color: white;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 8px;
    border: 2px solid white;
}

.subtitulo {
    color: 949494;
}

.container {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100vw; 
}

.container-titulo{
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;   /*parece no estar funcionando, revisar*/
    padding: 1vw;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    color: white;
    border-bottom: 1px solid white;
}
.disabled
{
    display: none;
}

.container-profile-information input
{
    width: 240px;
    text-align: center;
    height: 40px;
    background: black;
    color: white;
    padding: 10px 4px;
    border: 1px solid white;
    border-radius: 5px;
}

.container-profile-information textarea
{
    width: 240px;
    height: 80px;
    resize: none;
    background: black;
    color: white;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
}

.container-profile-information label
{
    margin-top: 40px;
}

.above-input-positioning
{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.container-lista-actividades
{
    width: 300px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.container-info-actividades
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 0 10%;
}

.container-activiades
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flex
{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.container-info-actividad input
{
    width: 240px;
    text-align: center;
    height: 40px;
    background: black;
    color: white;
    padding: 10px 4px;
    border: 1px solid white;
    border-radius: 5px;
}

.container-info-actividad textarea
{
    width: 240px;
    height: 80px;
    resize: none;
    background: black;
    color: white;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
}

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(0, 0, 0);
}
    .searchAndSelect {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 20vw;
        height: 79vh;
        padding: 2rem;
        margin-left: 12vw;
    }
        .searchAndSelect input {
            width: 16vw;
        }
        .listaActividades {
            width: 16vw;
            height: 50vh;
            background-color: #000000;
            color: white;
            border: 1px solid white;
            padding-top: 1vw;
            border-radius: 8px;
        }

.data {
    display: flex;
    flex-direction: column;
    width: 64vw;
    margin-right: 12vw;
}
    .data .subtitulo {
        justify-content: center;
        text-align: left;
        padding-top: 1vw;
        padding-left: 1vw;
    }
    .data .informacion {
        padding: 1vw;
        justify-content: space-around;
    }
        .informacion .col {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .col input {
                width: 90%;
                padding: 15vw;
            }




