@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;700&family=Quicksand:wght@300;500;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

.form-floating input {
    color: white;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 8px;

}
.form-floating input:focus {
    color: white;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 8px;
    border: 2px solid white;
}

.subtitulo {
    color: 949494;
}

.container {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100vw; 
}

.container-titulo{
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;   /*parece no estar funcionando, revisar*/
    padding: 1vw;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    color: white;
    border-bottom: 1px solid white;
}

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(20, 20, 20);
}
    .searchAndSelect {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 20vw;
        height: 79vh;
        padding: 2rem;
        margin-left: 12vw;
        border: solid red 1px;
        background-color: #070707;
    }
        .searchAndSelect input {
            width: 16vw;
        }
        .listaActividades {
            width: 16vw;
            height: 50vh;
            background-color: #000000;
            color: white;
            border: 1px solid white;
            padding-top: 1vw;
            border-radius: 8px;
        }

.data {
    display: flex;
    flex-direction: column;
    width: 64vw;
    margin-right: 12vw;
}
    .data .subtitulo {
        justify-content: center;
        text-align: left;
        padding-top: 1vw;
        padding-left: 1vw;
    }
    .data .informacion {
        padding: 1vw;
        justify-content: space-around;
    }
        .informacion .col {
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .col input {
                width: 90%;
                padding: 15vw;
            }




